.game-view {
    --my-player-view-small-side: 15%;
    --opponent-player-view-large-side-vertical: 70%;
    --my-player-view-large-side-horizontal: 60%;
    --opponent-player-view-large-side-horizontal: 40%;
}

.board-container {
    position: absolute;
}
