.player-view-horizontal {
    flex-direction: row;
}

.player-view-vertical {
    flex-direction: column;
}

.player-view {
    display: flex;
    position: fixed;
    background-color: #ccc;
}

.player-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 80%;
    width: 20%;
    height: 100%;
    background-color: hsl(0, 15%, 90%);
}

.my-player {
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: var(--my-player-view-large-side-horizontal);
    height: var(--my-player-view-small-side);
    /* background-color: #edf7f0; */
    border-radius: 10px 10px 0px 0px;
}

.opponent {
    /* background-color: #f7dfe6; */
}

.opponent-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--opponent-player-view-large-side-horizontal);
    height: var(--opponent-player-view-small-side);
    border-radius: 0px 0px 10px 10px;
}

.opponent-2 {
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: var(--player-view-small-side);
    height: var(--opponent-player-view-large-side-vertical);
    border-radius: 0px 10px 10px 0px;
}

.opponent-3 {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: var(--player-view-small-side);
    height: var(--opponent-player-view-large-side-vertical);
    border-radius: 10px 0px 0px 10px;
}

.hand-container {
    display: flex;
    position: fixed;
    left: 2.5%;
    justify-content: space-around;
}

.hand-wrapper {
    display: flex;
    flex: 0 0 auto;
}

.hand-container-vertical {
    flex-direction: column;
}
.hand-container-horizontal {
    flex: 1;
    height: 100%;
    flex-direction: row;
    width: 75%;
    overflow: scroll;
}

.hand-domino-container {
    display: flex;
}

.current {
    background-color: #b3dde3;
    border: 5px solid #444;
}
