.player-view {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
}

.player-view-horizontal {
    flex-direction: row;
}

.player-view-vertical {
    flex-direction: column;
}

.player-view {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    background-color: #cce;
}

.player-name {
    /* position: absolute; */
}

.player-score {
    /* position: absolute; */
}

.player-score-me,
.player-score-1 {
    right: 0%;
    margin-right: 10px;
}

.player-score-2,
.player-score-3 {
    bottom: 0%;
    margin-bottom: 10px;
}

.my-player {
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    width: var(--player-view-large-side-horizontal);
    height: var(--player-view-small-side);
    /* background-color: #edf7f0; */
    border-radius: 10px 10px 0px 0px;
}

.opponent {
    /* background-color: #f7dfe6; */
}

.opponent-1 {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: var(--player-view-large-side-horizontal);
    height: var(--player-view-small-side);
    border-radius: 0px 0px 10px 10px;
}

.opponent-2 {
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: var(--player-view-small-side);
    height: var(--player-view-large-side-vertical);
    border-radius: 0px 10px 10px 0px;
}

.opponent-3 {
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: var(--player-view-small-side);
    height: var(--player-view-large-side-vertical);
    border-radius: 10px 0px 0px 10px;
}

.hand-container {
    display: flex;
    justify-content: flex-start;
}

.hand-container-vertical {
    flex-direction: column;
}

.hand-container-horizontal {
    flex-direction: row;
}

.hand-domino-container {
    margin: 1px;
}

.current {
    border: 5px solid #44f;
}
