.board {
    display: grid;
    box-sizing: border-box;
    position: absolute;
    overflow: scroll;
    border-radius: 10px;
    --board-margin: 35px;
    top: calc(var(--player-view-small-side) + var(--board-margin));
    left: calc(var(--player-view-small-side) + var(--board-margin));
    height: calc(
        100% - 2 * var(--player-view-small-side) - 2 * var(--board-margin)
    );
    width: calc(
        100% - 2 * var(--player-view-small-side) - 2 * var(--board-margin)
    );
    background-color: #c9b5a3;
    /* background-color: #e8efff; */
    /* grid-template-columns: repeat(36, 25px);
    grid-template-rows: repeat(36, 25px); */
    /*grid-template-columns: repeat(auto-fill, 25px);*/
    /*grid-template-columns: repeat(60, 16px);
  grid-auto-rows: 16px;*/
}
