.face-container {
    position: relative;
}

.dot {
    position: absolute;
    background-color: #000;
    width: 16.67%;
    height: 16.67%;
    border-radius: 50%;
}

.row-1 {
    top: 16.67%;
}

.row-2 {
    top: 41.67%;
}

.row-3 {
    top: 66.67%;
}

.col-1 {
    left: 16.67%;
}

.col-2 {
    left: 41.67%;
}

.col-3 {
    left: 66.67%;
}
